html { 
  /*background: url('./media/sealine.JPG') no-repeat center center fixed; */
  background-color: #00130c;
  background-blend-mode: saturation;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
  color: #4d675d;
  
}
