html { 
  background: url('./media/sealine.JPG') no-repeat center center fixed; 
  background-blend-mode: saturation;
  backdrop-filter: brightness(10%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
}
